{% extends "base.html" %}

{% block content %}
<h5>Нужно  нажать на кнопку</h5>
<div class="login">
<form action="" method="post" novalidate>
    <h6>{{ form['vopr'][0] }}</h6>
    {% for i in form['id_vopr']%}
        <a href="http://127.0.0.1:8080/films">10</a>
    {% endfor %}
    <h6>{{ form['vopr'][1] }}</h6>
    {% for i in form['id_vopr']%}
        <a href="http://127.0.0.1:8080/books">10</a>
    {% endfor %}
    <h6>{{ form['vopr'][2] }}</h6>
    {% for i in form['id_vopr']%}
        <a href="http://127.0.0.1:8080/animals">10</a>
    {% endfor %}
    <h6>{{ form['vopr'][3] }}</h6>
    {% for i in form['id_vopr']%}
        <a href="http://127.0.0.1:8080/units">10</a>
    {% endfor %}
    <h6>{{ form['vopr'][4] }}</h6>
    {% for i in form['id_vopr']%}
        <a href="http://127.0.0.1:8080/hodgepodge">10</a>
    {% endfor %}
    <h6>Если хотите завершить игру нажмите на эту кнопку</h6>
    <a href="http://127.0.0.1:8080/result_of_game">Завершить игру</a>
</form>
</div>
{% endblock %}